body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1569974512262-c58bb9f47f53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  min-height: 500px;
  display: block;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;

}

.inner_header {
  max-width: 1200px;
  height: 100%;
  display: inline;
  margin: 0 auto;

}

 .logo_container {
  height: 100%;
  display: table;
  float: left;
}

 .logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
}

 .logo_container h1 {
  font-weight: 800;
  background: black;
  transition-duration: 4s;
  transition-timing-function: steps();
}

.logo_container h1:hover{
  background: #97FFFF;
  transform: translate(300px);
  font-family: Lobster;
}

 .navigation {
  float: right;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 40px;
  color: 	#d4add9;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #F55E08;
  font-family: Lobster;
  font-size: 16px;
}

.navigation a:hover {
  color:  #fff291;
  transition: 0.2s ease-out;

}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: #233134;
  color: #00FFFF;
}


button:hover {
  background-color: #66c25c;
}


.page_text {
  color: white;
  text-align: center;

}

.indexes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  color: black;
}

.indexes img {
  max-width: 300px;
  border-radius: 10% 10%;
}

.container {
  display: flex;
  color: #A3E7F8;
  /* background-color: #000C0F; */
  position: relative;
  min-height: 100%;

}

.footer-container {
  background-color: #0C0C0C;
  padding-bottom: 4rem;

}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #07C1A8;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;

}

.footer-heading a:hover{
  color: #07C1A8;
  transition: 0.2s ease-out;
}

#footer-email {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  border: black;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #A707C1;
  outline: none;
  border: none;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #07C1A8;
  transition: all 1s ;
}

.company_info {
  background-color: white;
  margin: 10px;
  color: black;
  border-radius: 10px;
  box-shadow: inset 0px -1px 7px 4px black;
  padding: 10px;
  text-align:left;
}

.company_info_value {
  color: #D47714;
  display:inline;
}
.owner_container {
  background-color: #6C0202;
  text-align:left;
  margin-right: 400px;
  margin-left: 200px;
  margin-bottom: 100px;
  box-shadow: inset 0px -1px 7px 4px black;
  border-radius: 8px;
  font-size: 12px;
  font-style:normal;
  color: white;
}

/* @media (min-width: 800px) {
body {
  height: 10vh;

} */
